/*Tampilan navigasi bar*/
nav {
    background-color: #184B8C;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*tampilan judul dan logo*/
.nav-logo-title{
    display: flex;
    align-items: center;
}


/*tampilan logo*/
.logo-icon {
    background-image: url(../assets/logo.png);
    height: 5rem;
    width: 5rem;
    background-size: contain;
    background-position: center;
    border-radius: 80%;
    display: flex;

}
/*tampilan judul */
.nav-title {
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin: 0;
}

/*tampilan menu*/
.nav-container {
    display: flex;

}

.nav-item {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 0 10px;
    position: end;
    overflow: hidden;
    transition: 0.5s;

}

.nav-item:hover {
    text-decoration: underline;
}

/*Tampilan banner*/
.banner-image {
    height: 300px;
    background-image: url(https://picsum.photos/300);
    background-size: cover;
    background-position: center;
}

h1 {
    font-family: sans-serif;
    font-weight: bold;
}

.language-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.language-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 150px;
    /* margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #333;*/
}

.language-img {
    border: 1px solid #000;
    height: 50px;
    width: 50px;
    background-image: url(https://picsum.photos/200);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-bottom: 10px;
}

/*Tampilan message us*/

footer {
    text-align: end;
    background-color: #184B8C;

}