/*Tampilan navigasi bar*/
nav {
    background-color: #333333;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*tampilan logo*/
.logo-icon {

    background-image: url(https://pngtree.com/freebackground/book-open-and-a-globe-in-it_2770067.html);
    height: 5rem;
    width: 5rem;
    background-size: cover;
    border-radius: 80%;
}

/*tampilan menu*/
.nav-container {
    display: flex;

}

.nav-item {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 0 10px;
    position: center;
    overflow: hidden;
    transition: 0.5s;

}

.nav-item:hover {
    text-decoration: underline;
}

/*Tampilan banner*/
.banner-image {
    height: 300px;
    background-image: url(https://picsum.photos/300);
    background-size: cover;
    background-position: center;
}

h1 {
    font-family: sans-serif;
    font-weight: bold;
}

.profile-container {
    display: flex;
    justify-content: space-around;
}

.profile-item {
    height: 100px;
    text-align: -webkit-center
}

.profile-img {
    border: 1px solid;
    height: 50px;
    background-image: url(https://picsum.photos/200);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    width: 50px;
}

footer {
    text-align: end;
}